{% load static %}
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>Twitter Friends Export/Import</title>

    <!-- Fonts -->
    <link href="{% static 'tfei/css.css' %}" rel="stylesheet" type="text/css">

    <!-- Styles taken from https://github.com/dhg/Skeleton -->
    <link href="{% static 'tfei/normalize.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'tfei/skeleton.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{% static 'tfei/custom.css' %}" rel="stylesheet" type="text/css">
</head>
