/*
  Custom CSS classes
*/

.lg {
  /* background-color:rgba(192,192,192,0.3); */
  background-image: url("lightgrey.png");
}

.header {
  padding: 15px;
  height: 30%;
  text-align: center;
  margin: 0 0 10px 0;
}

.ctr {
  text-align: center;
}

.container {
  padding: 15px;
}

.container-inner {
  padding-top: 0px;
  padding-left: 0px;
}

.button-ok {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.img-brd-cent {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  position: relative;
  display: inline-block;
  padding: 12px 15px;
  width: 100%;
  height: 300px;
  border: solid;
}

.nav-options {
  position: relative;
  padding: 12px 15px;
}

.err-msg {
  text-align: center;
}

.center-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.text-center {
  text-align: center;
}

.width-80 {
  width: 80%;
}

.v-margin-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.v-margin-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.v-margin-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.input-text {
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.errorlist {
  list-style-type: none;
  margin-left: -2rem;
  color: red;
}