<!DOCTYPE html>
<html lang="en">
    {% include "tfei/head.html" %}
    <body>
        <div class="container">
            <div class="row">
                <div class="col ctr">
                  {% include "tfei/header.html" %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                  {% block containercontent %}{% endblock %}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col ctr">
                {% include "tfei/footer.html" %}
                </div>
            </div>
        </div>
    </body>
</html>