{% extends "tfei/base-menu.html" %}
{% block actioncontent %}

{% if msg_context.error_message  %}
  <p>
      {{ msg_context.error_message }}
  </p>
{% else %}
  <p class="text-center">
      Enter <strong>screen name</strong> of the profile to export friends for.
  </p>
  <p class="text-center v-margin-20">
    Or leave your screen name to export your friends.
  </p>
  <form action="{% url 'export' %}" method="post" class="text-center v-margin-30">
    {% csrf_token %}
    {{ form }}
    <br><br>
    <input type="submit" value="Start Export" class="btn btn-success button-ok">
  </form>
{% endif %}
{% endblock actioncontent %}
