<div class="footer">
    <p class="text-muted">
        <small>
            Basic CSS is provided by <a href="http://getbootstrap.com/">Bootstrap</a>.
            <br>
            <a href="https://github.com/ryanmcgrath/twython">Twython</a> library is used to interact with
            the Twitter API.
            <br>
            To throttle requests perform retries, etc <a href="https://github.com/kircm/tw_frnds_ei">this</a>
            library is used.
            <br>
            The source code for this project can be found at <a href="https://github.com/kircm/tw_frnds_ei_web">github</a>.
        </small>
    </p>
</div>
