{% extends "tfei/three-col-layout.html" %}
{% block innercontainercontent %}
<div class="ctr">
    <p>
        You've been logged out from this app.
    </p>
    <p>
        Your Twitter tokens for this app <b>are now invalid</b>.
    </p>
</div>
<div class="ctr">
    <p>
        However, Twitter still keeps your <b>authentication alive</b>.
    </p>
    <p>
        You may logout of Twitter:
    </p>
    <p>
        <a href="https://twitter.com/logout" class="btn btn-small btn-success button-ok">
            Twitter Logout
        </a>
    </p>
</div>
<div class="ctr v-margin-50">
    <p>
        Also, once any running task is finished, unless you want to use this app again<br/>
        you should <b>revoke access</b> for this app (FriendsEI_app) in your
    </p>
    <p class="ctr">
        <a href="https://twitter.com/settings/connected_apps" target="_blank">
            Twitter Connected Apps
        </a>
        <br/>
        <small>(requires Twitter login)</small>
    </p>
</div>
<div>
    <p class="footer text-muted ctr">
        <small>
            Didn't mean to logout? Re-Authenticate:
            <a href="/tfei/">Home</a>
        </small>
    </p>
</div>
{% endblock innercontainercontent %}
