{% extends "tfei/base.html" %}
{% block containercontent %}
<div>
    <p>
        You've been logged out from this app.
        Your Twitter tokens for this app <b>are now invalid</b>.
    </p>
    <p>
        However, Twitter still keeps your <b>authentication alive</b>.
    </p>
    <p>
        Also, unless you want to use this app again, you should <b>revoke access</b>
        for this app (FriendsEI_app) in your Twitter
        <a href="https://twitter.com/settings/connected_apps" target="_blank">
            Connected Apps
        </a>
    </p>
    <p>
        <a href="https://twitter.com/settings/connected_apps" target="_blank">
            <img class="img-brd-cent" src="/static/tfei/tw_connected_apps_tfei.png">
        </a>
    </p>
    <p>
        Once done that, you may logout of Twitter:
    </p>
    <p>
        <a href="https://twitter.com/logout" class="btn btn-small btn-success button-ok">
            Twitter Logout
        </a>
    </p>
</div>
{% endblock containercontent %}
