{% extends "tfei/base.html" %}
{% block containercontent %}
<p class="hero-unit">
    <p>You've been logged out. Twitter tokens are now invalid. You may close this browser window.</p>
    <p>
        Unless you want to use this app again, you should also revoke access
        for the App (<b>FriendsEI_app</b>) in your Twitter
        <a href="https://twitter.com/settings/connected_apps">Connected Apps</a>:
    </p>
</p>
<p class="hero-unit">
    <a href="https://twitter.com/settings/connected_apps">
        <img class="img-brd-cent" src="/static/tfei/tw_connected_apps_tfei.png">
    </a>
</p>

<!--

        # TODO: logout of Twitter
        # Add Button Twitter LOGOUT
        # https: // twitter.com / logout


-->

{% endblock containercontent %}
