{% extends "tfei/base-menu.html" %}
{% block actioncontent %}
{% load tz %}

{% if messages %}
  <p>
    {% for msg in messages %}
      {{ msg }}<br/>
    {% endfor %}
  </p>
{% endif %}

<p class="text-secondary">
  Tasks for {{ tw_context.user_screen_name }}
</p>
<p>
    {% if task_context %}
        <table class="table small">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Type</th>
              <th scope="col">Data for</th>
              <th scope="col">Status</th>
              <th scope="col">Finished OK?</th>
              <th scope="col">Created at</th>
              <th scope="col">Finished at</th>
              <th scope="col">Logs</th>
              <th scope="col">Result</th>
            </tr>
          </thead>
          <tbody>
            {% for task in task_context %}
            <tr>
              <th scope="row">{{ task.id }}</th>
              <td>{{ task.task_type|title }}</td>
              <td>
                {% if task.task_type == "EXPORT" %}
                  {{ task.par_exp_screen_name|truncatechars:15 }}
                {% endif %}
                {% if task.task_type == "IMPORT" %}
                  {{ task.tw_screen_name_for_task|truncatechars:15 }}
                {% endif %}
              </td>
              <td>{{ task.task_status|title }}</td>
              <td>{% if task.finished_ok %}
                    Yes
                  {% elif task.finished_ok == None %}
                    Not Yet
                  {% else %}
                    No!
                  {% endif %}
              </td>
              <td>{% if task.created_at %}
                    {{ task.created_at | localtime | date:"Y-m-d" }}
                      <br/>
                    {{ task.created_at | localtime | time:"H:i e" }}
                  {% endif %}
              </td>
              <td>{% if task.finished_at %}
                    {{ task.finished_at | localtime | date:"Y-m-d" }}
                      <br/>
                    {{ task.finished_at | localtime | time:"H:i e" }}
                  {% endif %}
              </td>
              <td>
                  <a href="#">logs</a>
              </td>
              <td>{% if task.finished_ok %}
                    {% if task.task_type == "EXPORT" %}
                      <a href="{% url 'download' task.id %}">Download</a>
                    {% endif %}
                    {% if task.task_type == "IMPORT" %}
                      NOT IMPL
                    {% endif %}
                  {% elif task.finished_ok == None %}
                    Not Yet
                  {% else %}
                    LINK TO DETAILS
                  {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    {% endif %}
</p>
{% endblock actioncontent %}
