/*
  Custom CSS classes
*/

.lg {
  /* background-color:rgba(192,192,192,0.3); */
  background-image: url("lightgrey.png");
}

.header {
  padding: 15px;
  height: 30%;
  text-align: center;
  border: solid;
}

.footer {
  text-align: center;
}

.container {
  padding: 15px;
}

.button_ok {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.nav {
  position: relative;
  display: inline-block;
  padding: 12px 15px;
  width: 15%;
  height: 300px;
  border: solid;
}

.nav-options {
  position: relative;
  padding: 12px 15px;
}

.main-content {
  position: relative;
  display: inline-block;
}