SECRET_KEY='my_secret_key'
DEBUG='False'
ALLOWED_HOSTS='my_host_1,my_host_2'
STATIC_ROOT='/var/www/my_site.com/static/'
MYSQL_DB_HOST='my_mysql_db_host'
MYSQL_DB_PASSWORD='my_mysql_db_password'
TW_FRNDS_EI_APP_KEY='my_twitter_frnds_ei_app_key'
TW_FRNDS_EI_APP_SECRET='my_twitter_frnds_ei_app_secret'
